:root
{
    --main--color:#cd07ff;
}

*
{
    box-sizing: border-box;
}

body
{
    font-family: 'Open Sans', sans-serif;
}

.container
{
    /* width: 1170px; */
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
/* Start Settings box */
.settings-box
{
    position: fixed;
    background: #fff;
    z-index: 1000;
    left: -220px;
    top: 0;
    width: 220px;
    min-height: 100vh;
    transition: 0.3s;
    border: 2px solid var(--main--color);
    transition: 0.3s;
    border-radius: 0px 55px 50px 0px;

}
.settings-box.open
{
    left: 0;
}
.settings-box .toggle-settings 
{
    content: "\f013";
    position: absolute;
    right: -30px;
    top: 100px;
    font-size: x-large;
    background: #fff;
    cursor: pointer;
    width: 30px;
    margin-right: 20px;

}
.settings-box .toggle-settings .fa-gear
{

    padding: 5px 5px;
}

.settings-box .option-box
{
    margin: 20px;
    padding: 15px;
}
.settings-box .option-box h4
{
    text-align: center;
    margin: 18px;
    color: #666;
    margin: 0;
    font-size: 14px;

}
.settings-box .option-box .colors-list
{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 10px 0 0;

}
.settings-box .option-box .colors-list li
{
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius:50% ;
    cursor: pointer;
    display: inline-block;
    opacity: 0.5;

}
.settings-box .option-box .colors-list li.active
{

 opacity: 1;
 border: 2px solid #000;

}
.settings-box .option-box .colors-list li:first-child
{
    background-color: #ffc107;
}
.settings-box .option-box .colors-list li:nth-child(2)
{
    background-color: #ff0707;
}
.settings-box .option-box .colors-list li:nth-child(3)
{
    background-color: #4107ff;
}
.settings-box .option-box .colors-list li:nth-child(4)
{
    background-color: #07ffa0;
}
.settings-box .option-box .colors-list li:nth-child(5)
{
    background-color: #cd07ff;
}

.option-box .bullets-option
{
    padding: 10px;
    margin-top: 6px;

}
.option-box .bullets-option .yes ,
.option-box .bullets-option .no
{
    background: var(--main--color);
    display: inline;
    text-align: center;
    margin-top: 10px;
    padding: 5px 18px 5px 18px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 9px;
    cursor: pointer;
    opacity: 50%;

}
.option-box .bullets-option span.active
{
    opacity: 100%;
} 



.switch 
    {
        position: relative;
        display: block;
        width: 60px;
        margin: 10px 34px 0;
    }

  /* Hide default HTML checkbox */
.switch input 
{
    opacity: 0;
    width: 0;
    height: 0;
}

  /* The slider */
.slider
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    height: 23px;

}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:after {
    position: absolute;
    content: "";
    height: 16px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--main--color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--main--color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:checked + .slider:after {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
.slider.round:after {
border-radius: 50%;
}

.settings-box .reset-options
{
    background-color: #e8174d;
    width: 147px;
    border: none;
    margin: 10px auto;
    display: block;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 60px;
    cursor: pointer;

}

/* End Settings box */

/* Start Nav Bullets */
.nav-bullets
{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    background-color: #a7a7a72e;
    z-index: 1000;
}
.nav-bullets .bullet
{
    width: 20px;
    height: 20px;
    border: 4px solid var(--main--color);
    margin: 10px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.nav-bullets .bullet:hover .tooltip
{
    display: block;
}
.nav-bullets .bullet .tooltip
{
    background-color: var(--main--color);
    width: 120px;
    position: absolute;
    right: 40px;
    color: white;
    padding: 4px 10px;
    top: -5px;
    text-align: center;
    pointer-events: none;
    cursor: default;
    display: none;
}
.nav-bullets .bullet .tooltip:before
{
    content: "";
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    right: -22px;
    top: 3px;
    border-color: transparent transparent transparent var(--main--color);



}
    /* End  Nav Bullets */

/* Start Landding Page */
.landing-page
{
    /* Take Full hegiht*/
    min-height: 100vh;
    background-image: url(../images/5.jpg);
    background-size: cover;
}
.landing-page .overlay
{
    background-color: #0000007a;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

}
.landing-page .container
{
    position: relative;
    z-index: 1000;

}
.header-are
{
    color: #fff;
    position: relative;   
    z-index: 2;
    display: flex;
    padding: 5px;
}
.header-are .logo
{
    width: 300px;
    padding: 15px;
    font-weight: bold;
}
.header-are .links-container
{
    width: 100%;
    text-align: right;
}
.header-are .links
{
    list-style: none;
    text-align: end;

}
.header-are .links li
{
    display: inline;
    padding: 7px;
    font-size: 15px ;
}
.header-are .links li a
{
    text-decoration: none;
   color: #fff;
}
.header-are .links li a:hover ,
.header-are .links li a.active 

{
  color: var(--main--color);
}

.header-are .toggle-menu
{
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    margin-top: 15px;
    display: none;
    position: relative;
    
}

.header-are .toggle-menu.menu-active::before
{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    bottom: -11px;
    left: 50%;
    margin-left: -9px;
    
}

.header-are .toggle-menu:focus
{
    outline: none;

    
}
.header-are .toggle-menu span
{
    display: block;
    /* width: 100%; */
    background: #fff;
    height: 3px;
    margin-bottom: 3px;
}

.intro-text
{
    position: absolute;
    color: #fff;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 3ms;
}


.intro-text h1
{
    font-size: 37px;
    margin: 16px 0 16px 0;
}

@media(max-width:575px){
    .intro-text h1
    {
        font-size: 26px;
    }
    .header-are
    {
        padding: 5px 15px;
    }
    
    }

.intro-text h1 span
{
    color: var(--main--color);
}
.intro-text p
{
    line-height: 1.6;
    font-size: 16px;
    margin: 0;
    width: 95%;
}

@media(max-width:991px)
{
    .header-are .links 
    {
        display: none;
    }
    .header-are .links.open
    {
        background-color: white;
        padding: 0px;
        display: block;
        position: absolute;
        left: 0;
        top: 35px;
        width: 100%;
        border-radius: 7px;
        

        }
    .header-are .links.open li a
    {
     color: var(--main--color);
    font-weight: bold;
    display: block;
    margin: 0;
    text-align: center;

    }
    .header-are .toggle-menu
    {
        display: inline-block;
    }
}
/* End Landding Page */

/* Start Landding Page */

.about-us
{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}
@media(max-width:767px){
    .about-us
    {
        display: block;
    }
    .about-us .info-box p
    {
        text-align: center;
    }
    .about-us .info-box
    {
        padding: 0;
    }
    
    }
.about-us .info-box
{
    flex: 1;
    padding: 15px
}
.about-us .info-box h2
{
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
}
.about-us .info-box p
{
    line-height: 1.8;
    color: #767676;
   
}
.about-us .image-box
{
    flex: 1;
    text-align: center;
    padding: 30px 0px;

}
.about-us .image-box img
{
    width: 400px;
    
}

/* End Landding Page */

/* Start Skills  */
 .skills
 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;

 }
 .skills h2
 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    text-align: center;
    margin: 0 0 50px;
}
 .skills .skill-box
 {
    background-color: #eaeaea;
    padding: 15px;
    display: flex;
    margin-bottom: 15px;
    }
    @media(max-width:767px)
    {
        .skills .skill-box
        {
            display: block;
            background-color: #fff;
            width: 100%;
        }
}

 .skills .skill-box .skill-name
 {
    font-weight: bold;
    width: 140px;
    text-align: center;
    line-height: 30px;
}
 .skills .skill-box .Myskill-progress
 {
    height: 30px;
    width: calc(100% - 110px);
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    position: relative;
}
@media(max-width:767px)
{
    .skills .skill-box .Myskill-progress
    {
        background-color: #eaeaea;
        width: 100%;
    }
    .skills .skill-box .skill-name
    {
        width: 100%;
        margin-bottom: 10px;
    }
}
 .skills .skill-box .Myskill-progress span
 {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--main--color);
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
    transition: all 0.5s;
 }
/* End Skills*/

/* Start gellery*/
.gellery
{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    text-align: center;
}
.gellery h2
{
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    text-align: center;
    margin: 0 0 50px;

}
.gellery .images-box
{
    text-align: center;

}
.gellery .images-box img
{
    width: 200px;
    padding: 3px;
    background-color: #eaeaea;
    border: 1px solid var(--main--color);
    height: 150px;
    margin: 5px;
    cursor: pointer;

}

.pop-overlay
{
    position: fixed;
    background-color: rgb(0, 0, 0,0.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.popup-box
{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #ccc;
    border: 1px solid var(--main--color) ;
    padding: 20px;
    z-index: 1001;
}

.popup-box h3
{
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px ;
    color: var(--main--color);
} 
.popup-box img
{
    max-width: 100% ;
} 

.close-button
{
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main--color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color:#fff;
    cursor: pointer;
    border-radius: 50%;
    font-weight: bold;
    font-family: Arial, sans-serif;

}

/* End gellery*/

/* Start timeline*/

.timeline
{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;

}
.timeline .timeline-content
{
    position: relative;
    overflow: hidden;
}
.timeline .timeline-content:before
{
    content: "";
    width: 2px;
    height: 100%;
    background-color: var(--main--color);
    position: absolute;
    left: 50%;
    margin: -1px; /* 1/5 area*/
}
.timeline .timeline-content .year
{
    margin: 20px auto;
    width: 50px;
    background-color: var(--main--color);
    position: relative;
    z-index: 2;
    border-radius: 4px;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 2px 5px;    
}
.timeline .timeline-content .left,
.timeline .timeline-content .right
{
    width: calc(50% - 30px);
    margin-bottom: 40px;
    position: relative;
}
@media(max-width:767px)
{
    .timeline .timeline-content .left,
.timeline .timeline-content .right{
    width : 100%;
    margin-bottom: 20px;
}
}
.timeline .timeline-content .left
{
    float: left;


}
.timeline .timeline-content .right
{
    float: right;
}

.timeline .timeline-content .content
{
    padding: 20px;
    float: right;
    background-color: #dbdbdb;
}
.timeline .timeline-content h3
{
    font-weight: bold;
    margin: 0px 0px 10px;
    color: var(--main--color);

}
.timeline .timeline-content p
{
    color: #666;
    margin: 0;
    line-height: 1.7;
    
}
.timeline .timeline-content .left:before,
.timeline .timeline-content .right:before
{
    content: "";
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    border: 3px solid var(--main--color);
    right: -40px;
    position: absolute;
    border-radius: 50%;
    top: 20px;
}
.timeline .timeline-content .left:before
{
    right: -40px;

}
.timeline .timeline-content .right:before
{
    left: -40px;
}
@media(max-width:767px)
{
    .timeline .timeline-content .left:before,
.timeline .timeline-content .right:before
{
    display: none;

}
}
.clearfix
{
    clear: both;
}

/* End timeline*/
/* Start feature*/
.features
{
    padding-top: 80px;
    padding-bottom: 80px;
}
.features h2
{
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    text-align: center;
    margin: 0 0 -20px;
}
.features .feat-box
{
    width: calc(100% / 4);
    float: left;
    text-align: center;
    margin: 40px;
}

@media(max-width:991px)
{
    .features .feat-box
    {
        width: calc(100% / 3);
    }

}
@media(max-width:575px)
{
    .features .feat-box
    {
        width: 100%;
        padding-right: 17%;
    }

}
.features .feat-box img
{
    width: 128px;
    height: 180px;

}
.features .feat-box h4
{
    font-size: 24px;
    margin: 10px 0 40px ;
    position: relative;
}

.features .feat-box h4:before
{
    content: '';
    width: 40px;
    height: 4px;
    background-color: var(--main--color);
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -20px;



}
.features .feat-box p
{
    font-size: 16px;
    line-height: 1.6;
    width: 80%;
    margin: 0 auto;
    color: #5d5d5d;
}
/* End feature*/

/* Start Testimoials*/
.Testimoials
{
    min-height: 420px;
        position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}
.Testimoials:before
{
    content: "";
    width: 50%;
    position: absolute;
    background-color: var(--main--color);
    left: 0;
    top: 0;
    height: 100%
}
.Testimoials:after
{
    content: "";
    width: 50%;
    position: absolute;
    background-color: #000;
    right: 0;
    top: 0;
    height: 100%
}
.Testimoials h2
{
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    text-align: left;
    margin: 0 0 60px;
    position: relative;
    z-index: 2;
    
}
.Testimoials .ts-box
{
    text-align: left; 
    position: relative;
    z-index: 2;
    width: calc(90% / 4 );
    padding: 20px;
    margin: 10px;
    float: left;
    background-color: white;
    font-size: 18px;  
    border-radius: 0 10px 0 36px;
    transition: 0.4s;
    display: none;
}

@media(max-width:991px)
{
    .Testimoials
    {
        min-height: 765px;
    }
    .Testimoials .ts-box


    {   
         width: 100%;
         margin-bottom: 45px;
    }
}
.Testimoials .ts-box:not(:last-of-type)
{
    margin-right: 3%;
}
.Testimoials .ts-box > p
{
    margin: 0 0 20px;
    line-height: 1.5;
    font-size: 14px;
    color: #707070;
    font-style: italic;
    font-weight: normal;


}
.Testimoials .person-info{}
.Testimoials .person-info img{
    position: absolute;
    left: -20px;
    top: -40px;
    border-radius: 50%;}
.Testimoials .person-info h4
{
    margin: 0;
}
.Testimoials .person-info p
{
    margin: 7px 0;
    color: var(--main--color);
    font-weight: lighter;
    font-size: 18px;

}

/* End Testimoials*/
/* Start Contact*/
.contact
{
    min-height: 600px;
    background-image: url(../images/map.jpg);
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}
.contact .overlay
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255,0.6);
    /* background-color: rgb(255 255 255 / 60% ); */
}

.contact .container
{
    position: relative;
    z-index: 2;
}

.contact h2
{
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    text-align: center;
    margin: 0 0 60px;
}
.contact form
{
    overflow: hidden;
    max-width: 700px;
    margin: auto;

}
.contact form .left 
{
    float: left;
    width: 49%;
}
.contact form .right 
{
    float: right;
    width: 49%;
}
.contact form input:not([type="submit"]) , 
.contact form textarea
{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: rgb(218, 218, 218,0.19);
}
.contact form input:not([type="submit"]):focus, 
.contact form textarea:focus
{
    outline: 2px solid var(--main--color);
}
.contact form input
{
    height: 40px;
}
.contact form textarea
{
    height: 150px;
}

.contact form input[type='submit']
{
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--main--color);
    color: #fff;
    cursor: pointer;
}

.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder
{
    opacity: 0;
    transition: 0.3s;
}

@media(max-width: 584px)

{
        .contact form .right ,
        .contact form .left
        {
            width: 98%;
            float: left;
        
    }

}
/* End Contact*/


/* Start Grid System*/

@media(min-width:576px)
{
    .container
    {
        max-width: 540px;
    }
} /* Small Devices*/

@media(min-width: 768px)
{
    .container
    {
        max-width: 720px;
    }
} /* Mediam Devices*/

@media(min-width: 992px)
{
    .container
    {
        max-width: 960px;
    }
} /* Desktop Devices*/

@media(min-width: 1200px)
{
    .container
    {
        max-width: 1140px;
    }
} /* Large Screens*/




/* End Grid System*/